<header class="header section">
    <div class="wrapper">
        <div class="header__cont">
            <div class="header__description">
                <h1 class="header__logo">
                    LURAY<br>
                    WHITE
                    <span class="header__logo_size">
                        WHITENING EFFECT
                    </span>
                </h1>
                <h2 class="header__title">
                    Преобрази<br>
                    свою кожу меньше,<br>
                    чем за&nbsp;1&nbsp;месяц!
                </h2>
                <h3 class="header__subtitle">
                    Твоя кожа станет светлой,<br>
                    и&nbsp;будет выглядеть молодой<br>
                    в&nbsp;любом возрасте!
                </h3>
                <ul class="header__list">
                    <li class="header__list-item">Интенсивное отбеливание</li>
                    <li class="header__list-item">Сохранение упругости кожи</li>
                    <li class="header__list-item">
                        Устранение воспалений<br>
                        и&nbsp;дефектов
                    </li>
                </ul>
            </div>
            
            <div class="header__form">
                <div class="header__product">
                    <div class="header__circles">
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                    </div>
                    <div class="header__product-one">
                        <img src="img/product_one.png" alt="product">
                    </div>
                    <div class="header__product-two">
                        <img src="img/product_two.png" alt="product">
                    </div>
                </div>
                <div class="form form_mod">
                    <h2 class="form__title">
                        Осталось до конца<br>
                        акции
                    </h2>
                    <div class="form__timer">
                        <div class="form__timer-item">
                            <div class="hours form__timer-time"></div>
                            <p class="form__timer-desc">
                                Часы
                            </p>
                        </div>
                        <div class="form__timer-item">
                            <div class="minutes form__timer-time form__timer-time_border"></div>
                            <p class="form__timer-desc">
                                Мин
                            </p>
                        </div>
                        <div class="form__timer-item">
                            <div class="seconds form__timer-time"></div>
                            <p class="form__timer-desc">
                                Сек
                            </p>
                        </div>
                    </div>
                    <button class="btn form__btn">
                        Заказать<br>
                        <span class="btn_size">со скидкой</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__woman">
            <img src="img/header_woman.png" alt="woman">
        </div>
        <div class="header__bottom">
            <p class="header__bottom-description">
                Ты восхитительна, ведь твоя кожа<br>
                сияет магической белизной!
            </p>
            <div class="header__bottom-star">
                <img src="img/header_star.svg" alt="star">
            </div>
        </div>
    </div>
</header>