<section class="skintone section">
    <div class="wrapper">
        <h1 class="title">
            Выбери свой тон кожи и узнай,
            <br>через сколько времени с Люрей Уайт
            <br>у тебя будет кожа твоей мечты
        </h1>
        <div class="skintone__box">
            <div class="skintone__left skintone-left">
                <input type="range" class="skintone-left__range skintone-range"
                       min="1" max="5" step="1" value="5">
                <img alt="woman" src="img/left5.png" class="skintone-left__img">
                <span class="skintone-left__text skintone-text">
                    Установите ползунок
                    <br>на самом подходящем
                    <br>к вашей коже цвете
                </span>
            </div>
            <div class="skintone__wrap-line"></div>
            <div class="skintone__right skintone-right">
                <input type="range" class="skintone-right__range skintone-range"
                       min="1" max="5" step="1" value="5">
                <img alt="woman" src="img/right5.png" class="skintone-right__img">
                <span class="skintone-right__text skintone-text">
                    Установите ползунок
                    <br>на цвете который
                    <br>хотите получить
                </span>
                <div class="box"></div>
            </div>
        </div>
        <div class="btn">
            Расчитать
            <br><span>быстро</span>
        </div>
    </div>
</section>

