<section class="skintone section wave">
    <div class="wrapper">
        <h1 class="title">
            Выбери свой тон кожи и узнай,
            <br>через сколько времени с Люрей Уайт
            <br>у тебя будет кожа твоей мечты
        </h1>
        <div class="skintone__box">
            <div class="skintone__left skintone-left">
                <input type="range" class="skintone-left__range skintone-range"
                       min="1" max="5" step="1" value="5">
                <img alt="woman" src="img/left5.png" class="skintone-left__img">
                <span class="skintone-left__text skintone-text">
                    Установите ползунок
                    <br>на самом подходящем
                    <br>к вашей коже цвете
                </span>
            </div>
            <div class="skintone__wrap-line"></div>
            <div class="skintone__right skintone-right">
                <input type="range" class="skintone-right__range skintone-range"
                       min="1" max="5" step="1" value="5">
                <img alt="woman" src="img/right5.png" class="skintone-right__img">
                <span class="skintone-right__text skintone-text">
                    Установите ползунок
                    <br>на цвете который
                    <br>хотите получить
                </span>
                <div class="box"></div>
            </div>
        </div>
        <div class="btn calc-btn">
            Рассчитать
            <br><span>быстро</span>
        </div>
    </div>
</section>
<div class="calc">
    <div class="calc__close"></div>
    <div class="calc__text calc__text1">
        <h3 class="calc__title">
            Для кожи твоей мечты тебе потребуется
            1 курс <span>Luray White</span>.
        </h3>
        <p class="calc__par">
            На протяжении 30 дней ты будешь наблюдать как твоя кожа осветляется и становится всё более белой.
        </p>
        <p class="calc__par">
            Первые результаты будут заметны уже через несколько дней.
        </p>
    </div>
    <div class="calc__text calc__text2">
        <h3 class="calc__title">
            Для кожи твоей мечты тебе потребуется
            1-2 курса <span>Luray White</span>.
        </h3>
        <p class="calc__par">
            На протяжении этих дней ты будешь наблюдать как твоя кожа осветляется и становится всё более белой. Первые результаты будут заметны уже через несколько дней.
        </p>
    </div>
</div>

