<section class="table section">
    <div class="wrapper">
        <h2 class="title">
            Люрей Уайт — осветление и питание твоей кожи
        </h2>
        <h3 class="table__subtitle">
            разработан с учетом потребностей твоей кожи
        </h3>
        <div class="table__wrapper">
            <div class="table__cont">
                <div class="table__fix">
                    <div class="table__fix-item">
                        <p class="table__fix-subtitle">
                            Безопасность
                        </p>
                    </div>
                    <div class="table__fix-item">
                        <p class="table__fix-subtitle">
                            Здоровье кожи
                        </p>
                    </div>

                    <div class="table__fix-item">
                        <p class="table__fix-subtitle">
                            Возраст кожи<br>
                            <span class="table__fix-subtitle_style">(визуально)</span>
                        </p>
                    </div>

                    <div class="table__fix-item">
                        <p class="table__fix-subtitle">
                            Осветление
                        </p>
                    </div>

                    <div class="table__fix-item">
                        <p class="table__fix-subtitle">
                            Как долго держится
                            осветление
                        </p>
                    </div>
                </div>

                <div class="table__slider">
                    <div class="table__slider-column">
                        <div class="table__slider-item">
                            <p class="table__slider-title">
                                Дорогой крем
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Безопасность
                            </p>
                            <p class="table__slider-description">
                                Часто безопасен<br>
                                за&nbsp;счет<br>
                                натурального<br>
                                состава
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Здоровье кожи
                            </p>
                            <p class="table__slider-description">
                                Состояние кожи
                                не&nbsp;меняется
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Возраст кожи<br>
                                <span class="table__slider-subtitle_style">(визуально)</span>
                            </p>
                            <p class="table__slider-description">
                                - 2 года
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Осветление
                            </p>
                            <p class="table__slider-description">
                                Осветление
                                через&nbsp;60&nbsp;дней
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Как долго держится
                                осветление
                            </p>
                            <p class="table__slider-description">
                                до 3 месяцев
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-description table__slider-description_yelow">
                                Дорого, безопасно,<br>
                                средняя<br>
                                эффективность
                            </p>
                        </div>
                    </div>

                    <div class="table__slider-column">
                        <div class="table__slider-item">
                            <p class="table__slider-title">
                                Дешевый крем
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Безопасность
                            </p>
                            <p class="table__slider-description">
                                Опасно, может<br>
                                содержать<br>
                                агрессивные<br>
                                компоненты
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Здоровье кожи
                            </p>
                            <p class="table__slider-description">
                                Кожа пережигается,
                                выглядит больной
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Возраст кожи<br>
                                <span class="table__slider-subtitle_style">(визуально)</span>
                            </p>
                            <p class="table__slider-description">
                                + 5 лет
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Осветление
                            </p>
                            <p class="table__slider-description">
                                Осветления нет
                                либо пятнами
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-subtitle">
                                Как долго держится
                                осветление
                            </p>
                            <p class="table__slider-description">
                                до 2 месяцев
                            </p>
                        </div>
                        <div class="table__slider-item">
                            <p class="table__slider-description table__slider-description_orange">
                                Дешево, опасно,<br>
                                низкая<br>
                                эффективность
                            </p>
                        </div>
                    </div>

                    <div class="table__slider-column">
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-title">
                                Люрей Уайт
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-subtitle">
                                Безопасность
                            </p>
                            <p class="table__slider-description">
                                Безопасно<br>
                                благодаря<br>
                                натуральному<br>
                                составу
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-subtitle">
                                Здоровье кожи
                            </p>
                            <p class="table__slider-description">
                                Кожа выглядит
                                аристократично
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-subtitle">
                                Возраст кожи<br>
                                <span class="table__slider-subtitle_style">(визуально)</span>
                            </p>
                            <p class="table__slider-description">
                                - 5 лет
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-subtitle">
                                Осветление
                            </p>
                            <p class="table__slider-description">
                                Осветление через
                                5&nbsp;-&nbsp;30&nbsp;дней
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-subtitle">
                                Как долго держится
                                осветление
                            </p>
                            <p class="table__slider-description">
                                до 6 месяцев
                            </p>
                        </div>
                        <div class="table__slider-item table__slider-item_green">
                            <p class="table__slider-description table__slider-description_green">
                                Недорого,<br>
                                безопасно,<br>
                                эффективно
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table__product">
                <h3 class="table__product-title">
                    С Люрей Уайт<br>
                    ты будешь<br>
                    вызывать восторг
                    у&nbsp;окружающих!
                </h3>

                <div class="table__product-img">
                    <img src="img/product_two.png" alt="product">
                </div>

                <button class="btn table__product-btn ever-popup-btn">
                    Заказать<br>
                    <span class="btn_size">со скидкой</span>
                </button>
            </div>
        </div>
    </div>
</section>