<section class="composition section">
    <div class="wrapper">
        <h1 class="title">
            Натуральный состав Люрей Уайт делает твою кожу безупречной, а тебя — неотразимой
        </h1>
        <div class="composition__row composition__row_first">
            <div class="composition__consist">
                <div class="composition__name composition__name_first">
                    <span class="composition__name1">Эдельвейс</span>
                    <span class="composition__dash">—</span>
                    осветляет, <br>омолаживает, защищает от загара
                </div>
                <p class="composition__text composition__text_first">
                    Экстракт этого горного цветка - мощнейший осветляющий
                    и регенерирующий кожу компонент.
                    Он мягко и быстро <span>отбеливает</span> кожу.
                    Полностью <span>поглощает УФ лучи.</span>
                    Сохраняет гиалуроновую кислоту, которая <span>обеспечивает молодость и упругость кожи.</span>
                    Кожа становится эластичной и живой.
                </p>
            </div>
            <div class="composition__bg1">
                <img src="img/composition1.png" alt="composition">
            </div>
        </div>
        <div class="composition__row composition__row_second">
            <div class="composition__prod">
                <img src="img/product_one.png" alt="LurayWhite">
            </div>
            <div class="composition__item composition__item_2-push composition__item_second">
                <div class="composition__name">
                    <span class="composition__name2">Сакура</span>
                    <span class="composition__dash">—</span>
                    осветляет,
                    защищает от загара,
                    <br>чистит поры
                </div>
                <div class="composition__img">
                    <img src="img/composition2.png" alt="composition">
                </div>
                <p class="composition__text">
                    Осветляет кожу, подавляя пигмент.
                    Успокаивает кожу, очищает поры.
                    Кожа выглядит ухоженно.
                </p>
            </div>
            <div class="composition__item composition__item_second">
                <div class="composition__name">
                    <span class="composition__name2">Ромашка</span>
                    <span class="composition__dash">—</span>
                    освежает кожу
                </div>
                <div class="composition__img">
                    <img src="img/composition3.png" alt="LurayWhite">
                </div>
                <p class="composition__text">
                    Сужает поры, освежает кожу, снимает воспаления.
                    <br>Кожа выглядит мягкой
                    <br>и светящейся.
                </p>
            </div>
        </div>
        <div class="composition__row composition__row_third">
            <div class="composition__item composition__item_3-push">
                <div class="composition__name">
                    <span class="composition__name2">Алоэ</span>
                    <span class="composition__dash">—</span>
                    выравнивает тон, смягчает кожу
                </div>
                <div class="composition__img">
                    <img src="img/composition4.png" alt="composition">
                </div>
                <p class="composition__text">
                    Осветляет кожу, делает тон абсолютно ровным. Кожа становится приятной на ощупь.
                </p>
            </div>
            <div class="composition__item composition__item_3-thin">
                <div class="composition__name">
                    <span class="composition__name2">Мальва</span>
                </div>
                <div class="composition__img">
                    <img src="img/composition5.png" alt="composition">
                </div>
                <p class="composition__text">
                    Увлажняет кожу, питает ее, делая упругой, эластичной. Кожа выглядит молодо
                    и свежо.
                </p>
            </div>
            <div class="composition__prod2">
                <img src="img/product_two.png" alt="LurayWhite">
            </div>
        </div>
    </div>
</section>