<section class="expert section">
    <div class="wrapper">
        <h2 class="title title_br">
            “Люрей Уайт используют актеры<br>
            перед началом съемок в кино”
        </h2>
        <div class="expert__cont">
            <div class="expert__woman">
                <img src="img/expert.png" alt="expert">
            </div>
            <div class="expert__opinion">
                <h3 class="expert__name">
                    Ева Бейли,
                    <span class="expert__name_profesion">косметолог-консультант</span>
                </h3>
                <p class="expert__description expert__description_margin">
                    Крем <span class="expert__description_color">Люрей Уайт</span> очень облегчил работу визажистов. 
                    Его используют многие звезды. Часто, когда актера
                    утвердили на&nbsp;роль, ему визажист <span style="display: inline-block;">за&nbsp;2-3 недели</span> до съемок говорит начинать пользоваться этим кремом,
                    чтобы кожа пришла в&nbsp;норму. Тогда у&nbsp;визажиста
                    на&nbsp;съемочной площадке почти нет работы.
                </p>
                <p class="expert__description"><span class="expert__description_color">Люрей Уайт</span> успешно используют и&nbsp;в&nbsp;профессиональных салонах,
                    и&nbsp;дома. Кожа от него становится ровной, упругой, выглядит более молодой. А&nbsp;тон кожи от него -
                    восхитительно благородный и&nbsp;нежный.
                </p>
                <p class="expert__description">
                    Вы можете экспериментировать с&nbsp;разными кремами сколько угодно, но&nbsp;рано или поздно поймете, что 
                    у&nbsp;<span class="expert__description_color">Люрей Уайт</span> нет конкурентов.
                </p>
            </div>
        </div>
    </div>
</section>