<section class="instruction section">
    <div class="wrapper instruction__wrapper">
        <h2 class="title">
            Как правильно наносить Люрей Уайт
        </h2>
        <div class="instruction__cont">
            <ul class="instruction__list">
                <li class="instruction__list-item">
                    <div class="instruction__list-number">1</div>
                    Очистите<br>
                    кожу
                </li>
                <li class="instruction__list-item">
                    <div class="instruction__list-number instruction__list-number_second">2</div>
                    Нанесите<br>
                    Люрей Уайт
                </li>
                <li class="instruction__list-item">
                    <div class="instruction__list-number instruction__list-number_third">3</div>
                    Наслаждайтесь<br>
                    своим отражением
                </li>
            </ul>
            <div class="instruction__product">
                <div class="instruction__product-one">
                    <img src="img/product_one.png" alt="pack">
                </div>
                <div class="instruction__product-two">
                    <img src="img/product_two.png" alt="product">
                </div>
            </div>
            <div class="instruction__woman">
                <img src="img/instruction_woman.png" alt="woman">
            </div>
        </div>
    </div>
</section>