<section class="reviews section" id="reviews">
    <div class="wrapper">
        <a href="#reviews" class="reviews__link-scroll"></a>
        <h2 class="title">
            Реальные отзывы людей,
            <br>которые уже попробовали Люрей Уайт
        </h2>
        <div class="reviews__screens">
            <img src="img/sms1.png" alt="screen">
            <img src="img/sms2.png" alt="screen">
        </div>
        <div class="reviews__messages">
            <div class="reviews__item">
                <p class="reviews__people">
                    <span class="reviews__name">Анечка</span>, 24 года, <span class="reviews__city">г. Бангкок</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars2.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Крем отлично распределяется по коже, ложится ровно. Уходят пигментные пятна. Макияж на него очень хорошо наносится. И запах у крема приятный.
                </p>
            </div>
            <div class="reviews__item">
                <p class="reviews__people">
                    <span class="reviews__name">Екатерина</span>, 33 года, <span class="reviews__city">г. Краби</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Мне этот крем нравится больше, чем другие отбеливающие. Покупаю его уже не впервые.
                    Расходуется достаточно экономно.
                </p>
            </div>
            <div class="reviews__item">
                <p class="reviews__people">
                    <span class="reviews__name">Марина</span>, 28 года, <span class="reviews__city">г. Лампанг</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars2.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Только начала пользоваться. Крем правда хороший. Я такого эффекта и хотела - вскоре я уже заметила разницу в тоне кожи. И он отлично снимает раздражения.
                </p>
            </div>
            <div class="reviews__item reviews__item_hide">
                <p class="reviews__people">
                    <span class="reviews__name">Марина</span>, 24 года, <span class="reviews__city">г. Кхонкэн</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Дополняю свой прошлый отзыв. За 2 месяца я осветлила кожу на 4 тона. Больше всего порадовало то, что кожа стала абсолютно ровной, никаких раздражений и прыщиков.
                </p>
            </div>
            <div class="reviews__item reviews__item_hide">
                <p class="reviews__people">
                    <span class="reviews__name">Алла</span>, 53 года, <span class="reviews__city">г. Нонтхабури</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars2.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Читала отзывы только от молодых девочек, не была уверена, что мне крем подойдет. Заказала, и решила дочке отдать, если для моей кожи этого эффекта будет мало. Но он мне подошел! И заметно осветлил кожу, и даже подтянул!
                </p>
            </div>
            <div class="reviews__item reviews__item_hide">
                <p class="reviews__people">
                    <span class="reviews__name">Вероника</span>, 45 лет, <span class="reviews__city">г. Накхонсаван</span>
                </p>
                <p class="reviews__stars">
                    Оценка товара <img src="img/stars.png" alt="stars">
                </p>
                <p class="reviews__text">
                    Крем понравился составом. Ни разу не видела, чтобы натуральный крем без токсичных ингредиентов так круто отбеливал. Увлажняет тоже неплохо. Могу смело Luray White рекомендовать.
                </p>
            </div>
        </div>
        <div class="reviews__btns">
            <button class="reviews__left-btn">
                <span class="reviews-show">еще отзывы (3) <span class="arw">&#9660;</span></span>
                <span class="reviews-hide">свернуть отзывы <span class="arw">&#9650;</span></span>
            </button>
            <button class="reviews__right-btn">
                Оставить отзыв
            </button>
        </div>
    </div>
    <div class="reviews__popup reviews__popup-screen">
        <div class="reviews__table">
            <div class="reviews__close"></div>
            <h2 class="reviews__popup-title">
                Оставить отзыв
            </h2>
            <div class="reviews__inputs">
                <input type="text" required class="reviews__input-name reviews__alarm" placeholder="Ваше имя">
                <input type="tel" required class="reviews__input-tel reviews__alarm" placeholder="Ваш телефон">
                <textarea name="" id="" cols="30" rows="10" placeholder="Текст отзыва..." class="reviews__textarea reviews__alarm"></textarea>
                <button class="btn reviews__btn">
                    Добавить отзыв
                </button>
            </div>
        </div>
    </div>
    <div class="reviews__thanks reviews__popup-screen">
        <div class="reviews__table">
            <div class="reviews__close"></div>
            <p class="reviews__thanks-text">
                Отзыв отправлен на модерацию. Спасибо!
            </p>
            <p class="reviews__bad-words">
                Нецензурная лексика или реклама будут удалены.
            </p>
        </div>
    </div>
</section>