<section class="order section">
    <div class="wrapper">
        <h2 class="title">
            Как заказать Люрей Уайт
        </h2>
        <div class="order__cont">
            <div class="order__item">
                <p class="order__item-numb">1</p>
                <div class="order__item-img">
                    <img src="img/order_one.png" alt="form">
                </div>
                <h3 class="order__item-title">
                    Заполните форму заказа
                </h3>
                <p class="order__item-desc">
                    Вам нужно указать только свое имя
                    и&nbsp;номер телефона
                </p>
            </div>
            <div class="order__item">
                <p class="order__item-numb">2</p>
                <div class="order__item-img">
                    <img src="img/order_two.png" alt="form">
                </div>
                <h3 class="order__item-title">
                    Ответьте на звонок оператора
                </h3>
                <p class="order__item-desc">
                    Он уточнит ваши адресные данные
                    и&nbsp;ответит на все вопросы о продукте
                </p>
            </div>

            <div class="order__item">
                <p class="order__item-numb">3</p>
                <div class="order__item-img order__item-img_bg">
                    <div class="order__product">
                        <div class="order__product-one">
                            <img src="img/product_one.png" alt="pack">
                        </div>
                        <div class="order__product-two">
                            <img src="img/product_two.png" alt="product">
                        </div>
                    </div>
                </div>
                <h3 class="order__item-title">
                    Оплатите после получения
                </h3>
                <p class="order__item-desc">
                    Никаких предоплат!
                </p>
            </div>
        </div>
        <div class="order__info">
            <p class="order__info-desc">
                За <span class="date">
                    <span class="date__day">
                    </span>.<span class="date__month">
                    </span>.<span class="date__year">
                    </span>
                </span> сделано
                <span class="order__current">
                    
                </span> заказов

            </p>
        </div>

    </div>
</section>