<section class="header section last">
    <div class="wrapper ">
        <div class="header__cont last__cont">
            <div class="header__description">
                <h2 class="header__title last__title">
                    Преобрази<br>
                    свою кожу меньше,<br>
                    чем за&nbsp;1&nbsp;месяц!
                </h2>
                <h3 class="header__subtitle last__subtitle">
                    Твоя кожа станет светлой,<br>
                    и&nbsp;будет выглядеть молодой<br>
                    в&nbsp;любом возрасте!
                </h3>
                <ul class="header__list last__list">
                    <li class="header__list-item last__list-item">Интенсивное отбеливание</li>
                    <li class="header__list-item last__list-item">Сохранение упругости кожи</li>
                    <li class="header__list-item last__list-item">
                        Устранение воспалений<br>
                        и&nbsp;дефектов
                    </li>
                </ul>
            </div>

            <div class="header__form ">
                <div class="header__product last__product">
                    <div class="header__circles">
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                        <div class="header__circles-item"></div>
                    </div>
                    <div class="header__product-one">
                        <img src="img/product_one.png" alt="product">
                    </div>
                    <div class="header__product-two">
                        <img src="img/product_two.png" alt="product">
                    </div>
                </div>
                <div class="form form_mod last__form">
                    <div class="last__form-cont">
                        <h2 class="last__form-title">
                            Закажите<br>
                            сейчас по акции
                        </h2>
                        <div class="last__price">
                            <div class="last__price-cont">
                                <p class="last__price-title">
                                    Старая цена
                                </p>
                                <p class="last__price-desc last__price-desc_margin">
                                    <span class="x_price_previous last__price-desc_after">1980</span><span class="x_currency">руб</span>
                                </p>
                            </div>
                            <div class="last__price-cont last__price-cont_border">
                                <p class="last__price-title last__price-title_size">
                                    Ваша цена
                                </p>
                                <p class="last__price-desc last__price-desc_color">
                                    <span class="x_price_current">990</span><span class="x_currency">руб</span><span class="last__price-desc_star">*</span>
                                </p>
                            </div>
                        </div>
                        <form action="/submit" method="post" class="x_order_form form-cont">
                            <div class="form-cont__name">
                                <label for="name" class="form-cont__label"><img src="img/name.svg" alt="name"></label>
                                <input id="name" type="text" name="name" required autocomplete="name" class="form-cont__input" placeholder="Моё имя">
                            </div>
                            <div class="form-cont__phone">
                                <label for="phone" class="form-cont__label"><img src="img/phone.svg" alt="phone"></label>
                                <input id="phone" type="tel" name="phone" required autocomplete="tel" class="form-cont__input" placeholder="Мой телефон">
                            </div>
                            <button class="btn form-cont__btn">
                                    Заказать<br>
                                    <span class="btn_size">со скидкой</span>
                                </button>
                        </form>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="header__woman last__woman">
            <img src="img/header_woman.png" alt="woman">
        </div>
        <div class="header__bottom">
            <p class="header__bottom-description">
                Ты восхитительна, ведь твоя кожа<br>
                сияет магической белизной!
            </p>
            <div class="header__bottom-star">
                <img src="img/header_star.svg" alt="star">
            </div>
        </div>
    </div>
</section>