<footer class="footer section">
    <div class="wrapper">
        <div class="footer__cont">
            <div class="footer__img">
                <img src="img/logo-ev.svg" alt="logo">
            </div>
            <div class="footer__desc">
                <a class="footer__desc-link" target="_blank" href="privacy.html">
                    Политика конфиденциальности
                </a>
                <p class="footer__desc-text">
                    <span class="footer__desc-text_color">LURAY WHITE,</span> Thai FDA no: 10-1-6100028805
                </p>
            </div>
        </div>
    </div>
</footer>