<section class="ever-popup-build">
    <div id="cloneThis">
        <div class="popup__bg">
            <div class="popup">
                <div class="popup__woman">
                    <img src="img/header_woman.png" alt="woman">
                </div>
                <div class="header__form popup__form">
                    <div class="header__product popup__product">
                        <div class="header__product-one">
                            <img src="img/product_one.png" alt="product">
                        </div>
                        <div class="header__product-two">
                            <img src="img/product_two.png" alt="product">
                        </div>
                    </div>
                    <div class="form form_mod popup__form_index">
                        <div class="last__form-cont">
                            <h2 class="last__form-title">
                                Закажите<br>
                                сейчас по акции
                            </h2>
                            <div class="last__price">
                                <div class="last__price-cont">
                                    <p class="last__price-title">
                                        Старая цена
                                    </p>
                                    <p class="last__price-desc last__price-desc_margin">
                                        <span class="x_price_previous last__price-desc_after">1980</span><span
                                            class="x_currency">руб</span>
                                    </p>
                                </div>
                                <div class="last__price-cont last__price-cont_border">
                                    <p class="last__price-title last__price-title_size">
                                        Ваша цена
                                    </p>
                                    <p class="last__price-desc last__price-desc_color">
                                        <span class="x_price_current">990</span><span class="x_currency">руб</span><span
                                            class="last__price-desc_star">*</span>
                                    </p>
                                </div>
                            </div>
                            <form action="/submit" method="post" class="x_order_form form-cont">
                                <div class="form-cont__name">
                                    <label for="name" class="form-cont__label"><img src="img/name.svg"
                                            alt="name"></label>
                                    <input id="name" type="text" name="name" required autocomplete="name"
                                        class="form-cont__input" placeholder="Моё имя">
                                </div>
                                <div class="form-cont__phone">
                                    <label for="phone" class="form-cont__label"><img src="img/phone.svg"
                                            alt="phone"></label>
                                    <input id="phone" type="tel" name="phone" required autocomplete="tel"
                                        class="form-cont__input" placeholder="Мой телефон">
                                </div>
                                <button class="btn form-cont__btn">
                                    Заказать<br>
                                    <span class="btn_size">со скидкой</span>
                                </button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>