.composition {
    padding-top: 85px;
    padding-bottom: 114px;
    background: url('../img/bg_square.png')
    no-repeat
    left calc(50% - -517px)
    top 252px / 272px,
    url('../img/bg_square.png')
    no-repeat
    left calc(50% - 489px)
    top 585px / 355px,
    url('../img/bg_square.png')
    no-repeat
    left calc(50% - -466px)
    top 1217px/357px;
    .title {
        line-height: 1;
    }
    &__row {
        position: relative;
        display: flex;
        font-weight: 400;
        color: #3c4452;
        .composition__name_first {
            font-size: 26px;
            padding-bottom: 7px;
            border-bottom: 2px solid #a1c73b;
            width: 427px;
        }
        .composition__item_2-push {
            margin-top: -154px;
        }
    }
    &__row_first {
        margin-top: 96px;
    }
    &__name {
        font-size: 20px;
        font-weight: 400;
    }
    &__name1 {
        font-weight: 700;
        font-size: 34px;
    }
    &__dash {
        font-weight: 500;
    }
    &__text {
        font-size: 18px;
        line-height: 1.4;
        span {
            font-weight: 700;
        }
    }
    @media screen and (min-width:0\0) {
        .composition {
            &__name {
                width: 100%;
            }
            &__text {
                width: 100%;
            }
        }
    }

    &__text_first {
        margin-top: 53px;
        width: 570px;
        line-height: 1.45;
    }
    &__bg1 {
        img {
            position: relative;
            top: -85px;
            left: -16px;
        }
    }
    &__item_2-push {
        margin-right: 95px;
        .composition__name {
            border-bottom: 2px solid #eb88a5;
            padding-bottom: 13px;
        }
        .composition__img {
            margin-top: 27px;
            margin-right: 30px;
        }
        .composition__text {
            margin-top: 15px;
        }
    }
    &__item_2-push + .composition__item {
        margin-right: 55px;
        margin-top: -7px;
        .composition__name {
            border-bottom: 2px solid #f0a925;
            padding-bottom: 14px;
        }
        .composition__img {
            margin-top: 16px;
            margin-left: -28px;
        }
        .composition__text {
            margin-top: 15px;
        }
    }
    &__row_second {
        justify-content: flex-end;
    }
    &__item_second {
        width: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name2 {
        font-size: 24px;
        font-weight: 700;
    }
    &__prod {
        position: absolute;
        left: -5px;
        top: -97px;
        img {
            max-width: none;
            width: 487px;
        }
    }
    &__prod2 {
        position: absolute;
        right: -47px;
        top: 154px;
        img {
            max-width: none;
            width: 395px;
        }
    }
    &__item_3-push {
        width: 270px;
        position: relative;
        margin-left: 100px;
        margin-top: -107px;
        .composition__name {
            padding-bottom: 15px;
            border-bottom: 2px solid #93bf00;
        }
        .composition__img {
            position: absolute;
            left: -64px;
            top: 115px;
        }
        img {
            max-width: none;
        }
        .composition__text {
            margin-top: 282px;
        }
    }
    &__item_3-thin {
        width: 230px;
        margin-left: 100px;
        .composition__name {
            padding-bottom: 15px;
            border-bottom: 2px solid #eb88a5;
            margin-top: 9px;
        }
        .composition__img {
            margin-top: 21px;
            margin-left: 25px;
        }
        .composition__text {
            margin-top: 15px;
            margin-right: -5px;
        }
    }

}

@media screen and (max-width: 1199px){
    .composition {
        background: url(../img/bg_square.png) no-repeat left calc(50% - -464px) top 170px/272px,
                    url(../img/bg_square.png) no-repeat left calc(50% - 430px) top 630px/250px,
                    url(../img/bg_square.png) no-repeat left calc(50% - -372px) top 1128px/239px;
        &__bg1 {
            img {
                left: 0;
                top: 0;
            }
        }
        &__row {
            .composition__item_2-push {
                margin-top: 0;
                margin-right: 0;
            }
            .composition__item_2-push + .composition__item {
                margin-top: 47px;
                margin-right: 0;
            }
        }
        &__prod {
            position: static;
            img {
                width: 400px;
                margin-left: 40px;
                margin-right: -40px;
                margin-top: 90px;
            }
        }
        &__row_second {
            justify-content: space-between;
        }
        &__row_third {
            justify-content: flex-start;
        }
        &__item_3-push {
            margin-top: 40px;
            margin-left: 50px;
        }
        &__item_3-thin {
            margin-top: 55px;
            margin-left: 50px;
        }
        &__prod2 {
            position: static;
            img {
                width: 280px;
                margin-top: 140px;
                margin-left: 80px;
            }
        }
        &__item_2-push + .composition__item {
            .composition__img {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__item {
            .composition__img {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__item {
            .composition__img {
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        &__item_3-push {
            .composition__img {
                left: -64px;
                top: 83px;
            }
        }
        &__row {
            .composition__item {
                .composition__text {
                    margin: 10px 0 0;
                }
                .composition__img {
                    margin-top: 10px;
                }
            }
        }
        &__row {
            .composition__item_3-push {
                .composition__text {
                    margin: 251px 0 0;
                }
            }
            .composition__item_2-push {
                .composition__img {
                    margin-top: 19px;
                }
            }
        }
    }
}
@media screen and (max-width: 1023px){
    .composition {
        background: none;
        &__text_first {
            margin-top: 20px;
            width: 530px;
        }
        &__bg1 {
            img {
                left: -23px;
                top: -31px;
                max-width: 140%;
            }
        }
        &__text {
            br {
                display: none;
            }
        }
        &__row_first {
            margin-top: 30px;
        }
        &__row_second {
            flex-wrap: wrap;
            justify-content: center;
            .composition__item {
                margin: 0 20px;
                width: 320px;
            }
        }
        &__item_second {
            width: 320px;
        }
        &__prod {
            width: 100%;
            img {
                width: 330px;
                margin: 0px auto 10px;
                display: block;
                transform: translateX(9%);
            }
        }
        &__name {
            br {
                display: none;
            }
        }
        &__row {
            .composition__item_2-push + .composition__item {
                margin-top: 21px;
                margin-right: 20px;
            }
            .composition__item {
                .composition__img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        &__row_third {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 40px;
            .composition__item {
                width: 320px;
                margin: 0 20px;
            }
            .composition__item_3-thin {
                margin-top: 14px;
            }
        }
        &__prod2 {
            img {
                margin-top: 40px;
                margin-left: 50px;
            }
        }
        &__item_3-push {
            .composition__text {
                margin-top: 270px;
            }
            .composition__img {
                left: -25px;
            }
        }
        &__row {
             .composition__item_2-push {
                 .composition__img {
                     margin-top: 18px;
                 }
             }
        }
        &__row {
            .composition__item_3-push {
                .composition__text {
                    margin: 250px 0 0;
                }
            }
        }
        &__row {
            .composition__name_first {
                width: 100%;
                text-align: justify;
            }
            .composition__item_2-push + .composition__item {
                margin-top: 0;
            }
        }
        &__item_2-push + .composition__item {
            .composition__name {
                padding-bottom: 37px;
                width: 100%;
            }
        }
        &__row_third {
            .composition__item_3-thin {
                margin-top: 0;
            }
        }
        &__item_3-thin {
            .composition__name {
                margin-top: 0;
                padding-bottom: 37px;
            }
        }
        &__item_3-push {
            .composition__name {
                padding-bottom: 13px;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .composition {
        &__row {
            .composition__name_first {
                width: 100%;
                font-size: 20px;
            }
        }
        &__bg1 {
            img {
                position: absolute;
                width: 250px;
                left: calc(50%);
                transform: translateX(-50%);
                top: 50px;
            }
        }
        &__name1 {
            font-size: 26px;
        }
        &__text_first {
            width: 100%;
            margin-top: 230px;
        }
        &__prod {
            img {
                margin-top: 20px;
            }
        }
        &__row_second {
            .composition__item {
                width: 280px;
                margin: 0 10px;
            }
        }
        &__name2 {
            font-size: 22px;
        }
        &__name {
            font-size: 18px;
        }
        &__row_third {
            .composition__item {
                width: 280px;
                margin: 0 10px;
            }
        }
        &__item_3-thin {
            .composition__name {
                margin-top: 0px;
                padding-bottom: 35px;
            }
        }
        &__item_2-push + .composition__item {
            .composition__name {
                width: 100%;
                padding-bottom: 35px;
            }
        }
        &__item_3-push {
            .composition__text {
                margin-top: 271px;
            }
            .composition__img {
                left: -45px;
                top: 77px;
            }
        }
    }
}
@media screen and (max-width: 639px){
    .composition {
        &__item_2-push + .composition__item {
            .composition__text {
                margin-top: 10px;
            }
        }

        &__bg1 {
            img {
                top: 80px;
            }
        }
        &__prod2 {
            img {
                margin-top: 20px;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__prod2 {
            img {
                width: 230px;
            }
        }
        &__prod {
            img {
                width: 290px;
                transform: translateX(5%);
            }
        }
        &__row {
            .composition__name_first {
                text-align: left;
            }
        }
        &__row_third {
            margin-top: 20px;
        }
        &__row {
            .composition__item_2-push + .composition__item {
                margin-top: 20px;
            }
        }
        &__item_3-thin {
            .composition__name {
                margin-top: 20px;
            }
        }
        &__row {
            .composition__item {
                .composition__name {
                    padding-bottom: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 347px){
    .composition {
        &__bg1 {
            img {
                top: 105px;
            }
        }
    }
}