.last{
    padding-top: 151px;

    &__logo{
        display: none;
    }
    &__title{
        margin-top: 0;
    }
    &__form{
        margin-top: 0;
    }
    &__product{
        top: 343px;
    }
    &__woman{
        top: -172px;
    }

}